@model BeierResult
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


@{
    <p>@Model.Student.StudentName;</p>
    <p>@Model.Student.StudentSurname</p>
    <p>@Model.Student.StudentSchoolId</p>
    <p>@Model.Student.Class.ClassName</p>
    <p>@Model.Valance</p>
    <p>@Model.Arousal</p>
    <p>@Model.Dominanace</p>
    <p>@Model.Result</p>
}
