@model List<Presentation>
@{
    ViewData["Title"] = "StudentList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link href="~/css/bootstrap.min.css" rel="stylesheet" />
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/jquery-3.2.1.min.js"></script>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<div class="main-content py-5 mb-5">
    <div class="container">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <h4>Sunumlara Kayıtlı Öğrenciler</h4>
                    <hr />
                </div>
            </div>
        </div>

        <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-md-12">
                <ul class="list-group">
                    @foreach (var item in Model)
                    {
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-6" align="right">
                                    @item.PresentationName
                                </div>
                                <div class="toggle" id="dropdown-detail-@item.PresentationId.ToString()" data-toggle="detail-@item.PresentationId.ToString()">
                                    <i class="fa fa-chevron-down pull-right"></i>
                                </div>
                            </div>
                            <div id="detail-@item.PresentationId.ToString()">
                                <hr>
                                <div class="container">

                                    @foreach (var sessions in item.Sessions)
                                    {

                                        <div class="fluid-row">
                                            <div class="col-xs-1">
                                                <div class="row mb-3">
                                                    @if (item.ClassPresentationsessions.Count != 0 && item.ClassPresentationsessions != null)
                                                    {
                                                        @if (@item.ClassPresentationsessions.Find(i => i.SessionId == sessions.SessionId) == null)
                                                        {
                                                            <text> Sınıf Atanmamış</text>
                                                        }
                                                        else 
                                                        {
                                                            <text> Sınıf:</text>
                                                            @item.ClassPresentationsessions.Find(i => i.SessionId == sessions.SessionId).Class.ClassName
                                                        }
                                                    }
                                                </div>
                                                <div class="row mb-3">
                                                    Başlangıç : @sessions.Sessions.StartTime
                                                </div>
                                                <div class="row mb-3">
                                                    Bitiş : @sessions.Sessions.EndTime
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-md-3">
                                                        Kayıtlı Öğrenciler
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-md-2">
                                                        Adı
                                                    </div>
                                                    <div class="col-md-2">
                                                        Soyadı
                                                    </div>
                                                    <div class="col-md-2">
                                                        Okul Numarası
                                                    </div>
                                                    <div class="col-md-2">
                                                        Sınıfı
                                                    </div>
                                                </div>
                                                @if (item.StudentPresentationsessions != null)
                                                {
                                                    @foreach (var student in item.StudentPresentationsessions)
                                                    {
                                                        if (student.SessionId == sessions.SessionId)
                                                        {
                                                            <div class="row mb-3">
                                                                <div class="col-md-2">
                                                                    @student.Student.StudentName
                                                                </div>
                                                                <div class="col-md-2">
                                                                    @student.Student.StudentSurname
                                                                </div>
                                                                <div class="col-md-2">
                                                                    @student.Student.StudentSchoolId
                                                                </div>
                                                                <div class="col-md-2">
                                                                    @student.Student.Class.ClassName
                                                                </div>

                                                            </div>
                                                        }
                                                    }
                                                }
                                            </div>
                                        </div>
                                        <hr />
                                    }

                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('[id^=detail-]').hide();
        $('.toggle').click(function () {
            $input = $(this);
            $target = $('#' + $input.attr('data-toggle'));
            $target.slideToggle();
        });
    });
</script>
