@model ClassPresentationsession
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>
<p>Presentation Name : @Model.Presentation.PresentationName</p>
<p>Toplam Kapasite : @Model.Class.ClassCapacity</p>
<p>Kayıtlı Öğrenci Sayısı : @Model.CurrentCapacity</p>
<p>Sınıf : @Model.Class.ClassName</p>
<p>Section :  @Model.Sessions.StartTime <text> - </text> @Model.Sessions.EndTime</p>
<button class="btn-block"
        onclick="addStudent(@Model.Presentation.PresentationId,
                            @User.Identity.Name,
                            @Model.SessionId)">
    Katıl
</button>

<script>
    function addStudent(presentationId, studentSchoolId, sessionId) {
        var reply = confirm("Bu sunuma katılmak istiyor musunuz ? ")
        if (reply) {
            $.ajax({
                type: "POST",
                url: "/Presentations/AddStudent?presentationId=" + presentationId +
                    "&studentSchoolId=" + @User.Identity.Name +
                    "&sessionId=" + sessionId,
                data: null,
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    alert(response);
                    window.location.href = "/Presentations/Index"
                },
            });
        }
        else
        {
            alert("Kayıt isteğinizi iptal ettiniz.")
        }
    }
</script>

