@model IEnumerable<Presentation>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    .gallery-title {
        font-size: 36px;
        color: #42B32F;
        text-align: center;
        font-weight: 500;
        margin-bottom: 70px;
    }

        .gallery-title:after {
            content: "";
            position: absolute;
            width: 7.5%;
            left: 46.5%;
            height: 45px;
            border-bottom: 1px solid #5e5e5e;
        }

    .filter-button {
        font-size: 18px;
        border: 1px solid #42B32F;
        border-radius: 5px;
        text-align: center;
        color: #42B32F;
        margin-bottom: 30px;
    }

        .filter-button:hover {
            font-size: 18px;
            border: 1px solid #42B32F;
            border-radius: 5px;
            text-align: center;
            color: #ffffff;
            background-color: #42B32F;
        }

    .btn-default:active .filter-button:active {
        background-color: #42B32F;
        color: white;
    }

    .port-image {
        width: 100%;
    }

    .gallery_product {
        margin-bottom: 30px;
    }
</style>
<link href="~/css/bootstrap.min.css" rel="stylesheet" />
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/jquery-3.2.1.min.js"></script>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<section>
    <div class="container">
        <div>
            <div class="row">
                <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h1 class="gallery-title">Sunumlar</h1>
                </div>
                @foreach (var item in Model)
                {
                    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-6" align="right">
                                    @item.PresentationName
                                </div>
                                <div class="toggle" id="dropdown-detail-@item.PresentationId.ToString()" data-toggle="detail-@item.PresentationId.ToString()">
                                    <i class="fa fa-chevron-down pull-right"></i>
                                </div>
                            </div>
                            <div id="detail-@item.PresentationId.ToString()">
                                <hr></hr>
                                <div class="container">
                                    @foreach (var sessions in item.Sessions)
                                    {
                                        <div class="fluid-row">
                                            <div class="col-xs-1">
                                                @sessions.Sessions.StartTime
                                                <text> - </text>
                                                @sessions.Sessions.EndTime
                                                <button class="btn-block">
                                                    <a asp-controller="Presentations"
                                                       asp-action="Details"
                                                       asp-route-presentationId="@sessions.PresentationID"
                                                       asp-route-sessionId="@sessions.SessionId">
                                                        Ayrıntılar
                                                    </a>
                                                </button>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </li>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        $('[id^=detail-]').hide();
        $('.toggle').click(function () {
            $input = $(this);
            $target = $('#' + $input.attr('data-toggle'));
            $target.slideToggle();
        });
    });
</script>
